<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-73oq{border-color:rgba(111,111,111,0.2) transparent;text-align:left;vertical-align:top;max-width:700px;}
</style>
<table class="tg">
<thead>
<tr>
    <th class="tg-73oq">ID:</th>
    <th class="tg-73oq"><a href="{{.Permalink}}" target="_blank" rel="noopener noreferrer">{{.Id}}</a></th>
</tr>
</thead>
<tbody>
<tr>
    <td class="tg-73oq">Author:</td>
    <td class="tg-73oq">{{.Author}}</td>
</tr>
<tr>
    <td class="tg-73oq">Quote:</td>
    <td class="tg-73oq" >{{.Quote}}</td>
</tr>
</tbody>
</table>
